*{
  margin: 0;
  padding: 0;
}
body{
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}
#container{
  padding: 60px 20px;
}
#card{
  border-radius: 5px;
  width: 100%;
}
.headings{
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  margin-top: 25px;
}
.note{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: small;
  margin-top: 20px;
  line-height: 1.7;
  padding-right: 30px;
}
.style-image{
  width:50px;
}
#SEDANS{
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
  border-radius: 7.5px 7.5px 0 0;
}
#sedan-learn{
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 40px;
  width: 50%;
  margin-top: 20px;
  height: 40px;
  border: transparent;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: small;
}
#sedan-learn:hover{
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
#SUVS{
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
}
#suv-learn{
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 40px;
  width: 53%;
  margin-top: 20px;
  height: 40px;
  border: transparent;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: small;
}
#suv-learn:hover{
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
#LUXURY{
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
  border-radius: 0 0 7.5px 7.5px;
}
#luxury-learn{
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 40px;
  width: 53%;
  margin-top: 20px;
  height: 40px;
  border: transparent;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: small;
}
#luxury-learn:hover{
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

@media only screen and (min-width: 992px) {
  #container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #card{
    display: flex;
    width:65%
  }
  #SEDANS{
    border-radius: 7.5px 0 0 7.5px;
  }
  #LUXURY{
    border-radius: 0 7.5px 7.5px 0;
  }
  #sedan-learn{
    margin-top: 70px;
  }
  #suv-learn{
    margin-top: 70px;
  }
  #luxury-learn{
    margin-top: 70px;
  }
}
